<a href="https://colab.research.google.com/github/Nischit-Stha/py_classes/blob/main/python_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#day 1

In [ ]:
print("Hello")

Hello

In [ ]:
s=("Hello world")
print(s.lower())
print(s)

hello world
Hello world

In [ ]:
s= ("                                                                       Everyone is pro PROGRAMMER ")
print(s.lstrip())

Everyone is pro PROGRAMMER

In [ ]:
# prompt: strip the sentence "HE is  BENN  1000000000

s = "HE is  BENN  1000000000"
print(s.strip())

HE is  BENN  1000000000

In [ ]:
strip helps to remove space from  infornt or back of the
sentence for
there are two type of striip
lstrip
and rstrip

SyntaxError: invalid syntax (<ipython-input-9-061da66470eb>, line 1)

In [ ]:
#split
s= "Hello world"
print(s.split())

['Hello', 'world']

In [ ]:
#join
s=""
world = "He is", " spiderman"
print(s.join(world))

He is spiderman

In [ ]:
#isdigit
s="1234"
print(s.isdigit())

True

In [ ]:
#isupper
s="HELLO"
print(s.isupper())

True

In [ ]:
#day 2

In [1]:
#day 2

# List examples

# Creating a list
my_list = [1, 2, 3, 4, 5]
print(my_list)

# Accessing elements
print(my_list[0])  # Accessing the first element (index 0)
print(my_list[-1]) # Accessing the last element

# Slicing a list
print(my_list[1:4]) # Elements from index 1 up to (but not including) index 4
print(my_list[:3])  # Elements from the beginning up to (but not including) index 3
print(my_list[2:])  # Elements from index 2 to the end

# Modifying a list
my_list[0] = 10
print(my_list)

# Appending elements
my_list.append(6)
print(my_list)

# Inserting elements
my_list.insert(2, 7) # Insert 7 at index 2
print(my_list)

# Removing elements
my_list.remove(4)  # Removes the first occurrence of 4
print(my_list)

my_list.pop(3)    # Removes the element at index 3
print(my_list)

# List concatenation
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = list1 + list2
print(list3)

# List repetition
repeated_list = list1 * 3
print(repeated_list)


# Iterating through a list
for item in my_list:
  print(item)

# Checking if an item exists in a list
if 10 in my_list:
  print("10 is in the list")


# List comprehension
squares = [x**2 for x in range(1,6)]
print(squares)


# Other list methods

# len() - Returns the number of elements in the list
# min(), max() - Returns the minimum/maximum value in the list
# sum() - Returns the sum of all elements in the list
# sorted() - Returns a new sorted list
# reverse() - Reverses the elements in-place

#Nested lists

nested_list = [[1,2,3], [4,5,6], [7,8,9]]
print(nested_list[1][0]) #accesses 4

# Example demonstrating list methods
numbers = [3, 1, 4, 1, 5, 9, 2, 6]
print(f"Length of the list: {len(numbers)}")
print(f"Minimum value in the list: {min(numbers)}")
print(f"Maximum value in the list: {max(numbers)}")
print(f"Sum of all elements in the list: {sum(numbers)}")
print(f"Sorted list: {sorted(numbers)}")
numbers.reverse()
print(f"Reversed list: {numbers}")

[1, 2, 3, 4, 5]
1
5
[2, 3, 4]
[1, 2, 3]
[3, 4, 5]
[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5, 6]
[10, 2, 7, 3, 4, 5, 6]
[10, 2, 7, 3, 5, 6]
[10, 2, 7, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
10
2
7
5
6
10 is in the list
[1, 4, 9, 16, 25]
4
Length of the list: 8
Minimum value in the list: 1
Maximum value in the list: 9
Sum of all elements in the list: 31
Sorted list: [1, 1, 2, 3, 4, 5, 6, 9]
Reversed list: [6, 2, 9, 5, 1, 4, 1, 3]

In [ ]:
numbers=[1,2,3,4,5]
numbers[1:4]=[6,7,8,9,10]
print(numbers)

[1, 6, 7, 8, 9, 10, 5]

In [6]:
Numbers=[1,2,3,4,5]
Numbers= (x for x in Numbers if x%2!=0)
print(Numbers)

<generator object <genexpr> at 0x7c36c1d026c0>

In [8]:
Numbers=[1,2,3,4,5,6,7]
Numbers= [x for x in Numbers if x%2!=0]
print(Numbers)

[1, 3, 5, 7]

In [9]:
Numbers=[1,2,3,4,5,6,7]
Numbers= [x for x in Numbers if x%2==0]
print(Numbers)

[2, 4, 6]

In [15]:
numbers=[1,2,3,4,5,6,7,8,9,0]
oddnum=[]
evennum=[]
for i in numbers:
    if i%2==0:
        evennum.append(i)
    else:
        oddnum.append(i)
print(evennum)
print(oddnum)
sortnum= sorted(numbers)
print(sortnum)

[2, 4, 6, 8, 0]
[1, 3, 5, 7, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
unknown=[[1,2,3,4],[5,6,7,8,]]
print(unknown[1][2])

7

In [27]:
unknown=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(unknown)):
    print(unknown[i][i])
print(len(unknown))
print(sum(unknown[0]))

1
5
9
3
6

1
2

In [57]:
unknown=[[1,2,3],[4,5,6],[7,8,9]]
total_sum=0
for i in range(len(unknown)):
  for j in range(len(unknown[i])):
    total_sum=total_sum + unknown[i][j]
print(total_sum)

45

In [58]:


#copy list
thislist=["apple","banana","cherry"]
mylist=thislist.copy()
thislist.append("orange")
print(thislist)
print(mylist)
thislist.reverse()
print(thislist)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry']
['orange', 'cherry', 'banana', 'apple']

In [64]:
tup1=(1,2,3,4,5)
tup2=(6,7,8,9,0)
tup1.extendtup2
print(tup1)

AttributeError: 'tuple' object has no attribute 'extendtup2'

In [71]:
#converting touple into list
Tup1=(1,2,3,4,5)
Tup2=(6,7,8,9,0)
tup1=list(Tup1)
tup2=list(Tup2)
tup1.extend(tup2)
print(tup1)S
Tup1=tuple(tup1)
print(Tup1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)