<a href="https://colab.research.google.com/github/Nischit-Stha/py_classes/blob/main/python_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#day 1

In [ ]:
print("Hello")

Hello

In [ ]:
s=("Hello world")
print(s.lower())
print(s)

hello world
Hello world

In [ ]:
s= ("                                                                       Everyone is pro PROGRAMMER ")
print(s.lstrip())

Everyone is pro PROGRAMMER

In [ ]:
# prompt: strip the sentence "HE is  BENN  1000000000

s = "HE is  BENN  1000000000"
print(s.strip())

HE is  BENN  1000000000

In [ ]:
strip helps to remove space from  infornt or back of the
sentence for
there are two type of striip
lstrip
and rstrip

SyntaxError: invalid syntax (<ipython-input-9-061da66470eb>, line 1)

In [ ]:
#split
s= "Hello world"
print(s.split())

['Hello', 'world']

In [ ]:
#join
s=""
world = "He is", " spiderman"
print(s.join(world))

He is spiderman

In [ ]:
#isdigit
s="1234"
print(s.isdigit())

True

In [ ]:
#isupper
s="HELLO"
print(s.isupper())

True

In [ ]:
#day 2

In [ ]:
#day 2

# List examples

# Creating a list
my_list = [1, 2, 3, 4, 5]
print(my_list)

# Accessing elements
print(my_list[0])  # Accessing the first element (index 0)
print(my_list[-1]) # Accessing the last element

# Slicing a list
print(my_list[1:4]) # Elements from index 1 up to (but not including) index 4
print(my_list[:3])  # Elements from the beginning up to (but not including) index 3
print(my_list[2:])  # Elements from index 2 to the end

# Modifying a list
my_list[0] = 10
print(my_list)

# Appending elements
my_list.append(6)
print(my_list)

# Inserting elements
my_list.insert(2, 7) # Insert 7 at index 2
print(my_list)

# Removing elements
my_list.remove(4)  # Removes the first occurrence of 4
print(my_list)

my_list.pop(3)    # Removes the element at index 3
print(my_list)

# List concatenation
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = list1 + list2
print(list3)

# List repetition
repeated_list = list1 * 3
print(repeated_list)


# Iterating through a list
for item in my_list:
  print(item)

# Checking if an item exists in a list
if 10 in my_list:
  print("10 is in the list")


# List comprehension
squares = [x**2 for x in range(1,6)]
print(squares)


# Other list methods

# len() - Returns the number of elements in the list
# min(), max() - Returns the minimum/maximum value in the list
# sum() - Returns the sum of all elements in the list
# sorted() - Returns a new sorted list
# reverse() - Reverses the elements in-place

#Nested lists

nested_list = [[1,2,3], [4,5,6], [7,8,9]]
print(nested_list[1][0]) #accesses 4

# Example demonstrating list methods
numbers = [3, 1, 4, 1, 5, 9, 2, 6]
print(f"Length of the list: {len(numbers)}")
print(f"Minimum value in the list: {min(numbers)}")
print(f"Maximum value in the list: {max(numbers)}")
print(f"Sum of all elements in the list: {sum(numbers)}")
print(f"Sorted list: {sorted(numbers)}")
numbers.reverse()
print(f"Reversed list: {numbers}")

[1, 2, 3, 4, 5]
1
5
[2, 3, 4]
[1, 2, 3]
[3, 4, 5]
[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5, 6]
[10, 2, 7, 3, 4, 5, 6]
[10, 2, 7, 3, 5, 6]
[10, 2, 7, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
10
2
7
5
6
10 is in the list
[1, 4, 9, 16, 25]
4
Length of the list: 8
Minimum value in the list: 1
Maximum value in the list: 9
Sum of all elements in the list: 31
Sorted list: [1, 1, 2, 3, 4, 5, 6, 9]
Reversed list: [6, 2, 9, 5, 1, 4, 1, 3]

In [ ]:
numbers=[1,2,3,4,5]
numbers[1:4]=[6,7,8,9,10]
print(numbers)

[1, 6, 7, 8, 9, 10, 5]

In [ ]:
Numbers=[1,2,3,4,5]
Numbers= (x for x in Numbers if x%2!=0)
print(Numbers)

<generator object <genexpr> at 0x7c36c1d026c0>

In [ ]:
Numbers=[1,2,3,4,5,6,7]
Numbers= [x for x in Numbers if x%2!=0]
print(Numbers)

[1, 3, 5, 7]

In [ ]:
Numbers=[1,2,3,4,5,6,7]
Numbers= [x for x in Numbers if x%2==0]
print(Numbers)

[2, 4, 6]

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,0]
oddnum=[]
evennum=[]
for i in numbers:
    if i%2==0:
        evennum.append(i)
    else:
        oddnum.append(i)
print(evennum)
print(oddnum)
sortnum= sorted(numbers)
print(sortnum)

[2, 4, 6, 8, 0]
[1, 3, 5, 7, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
unknown=[[1,2,3,4],[5,6,7,8,]]
print(unknown[1][2])

7

In [ ]:
unknown=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(unknown)):
    print(unknown[i][i])
print(len(unknown))
print(sum(unknown[0]))

1
5
9
3
6

1
2

In [ ]:
unknown=[[1,2,3],[4,5,6],[7,8,9]]
total_sum=0
for i in range(len(unknown)):
  for j in range(len(unknown[i])):
    total_sum=total_sum + unknown[i][j]
print(total_sum)

45

In [ ]:


#copy list
thislist=["apple","banana","cherry"]
mylist=thislist.copy()
thislist.append("orange")
print(thislist)
print(mylist)
thislist.reverse()
print(thislist)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry']
['orange', 'cherry', 'banana', 'apple']

In [ ]:
tup1=(1,2,3,4,5)
tup2=(6,7,8,9,0)
tup1.extendtup2
print(tup1)

AttributeError: 'tuple' object has no attribute 'extendtup2'

In [ ]:
#converting touple into list
Tup1=(1,2,3,4,5)
Tup2=(6,7,8,9,0)
tup1=list(Tup1)
tup2=list(Tup2)
tup1.extend(tup2)
print(tup1)S
Tup1=tuple(tup1)
print(Tup1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [ ]:
#unpacking in tuples
fruits=("apple","banana","cherry")
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [ ]:
#day 3

In [ ]:
# prompt: set in python

# Set examples

# Creating a set
my_set = {1, 2, 3, 4, 5}
print(my_set)

# Accessing elements (sets are unordered, so direct access by index is not possible)
# You can iterate through the set or check for membership
for item in my_set:
  print(item)

if 3 in my_set:
  print("3 is in the set")

# Adding elements
my_set.add(6)
print(my_set)

# Removing elements
my_set.remove(3)  # Raises KeyError if the element is not present
print(my_set)

my_set.discard(7) # Doesn't raise an error if the element is not present
print(my_set)

my_set.pop()      # Removes and returns an arbitrary element
print(my_set)

my_set.clear()    # Removes all elements from the set
print(my_set)


# Set operations

set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Union (elements in either set)
union_set = set1 | set2
print(f"Union: {union_set}")

# Intersection (elements in both sets)
intersection_set = set1 & set2
print(f"Intersection: {intersection_set}")


# Difference (elements in set1 but not in set2)
difference_set = set1 - set2
print(f"Difference (set1 - set2): {difference_set}")

# Symmetric difference (elements in either set but not both)
symmetric_difference_set = set1 ^ set2
print(f"Symmetric Difference: {symmetric_difference_set}")


# Set membership test
if 2 in set1:
    print("2 is present in set1")
else:
    print("2 is not present in set1")


# Set methods
# add(): Adds an element to the set
# update(): Adds multiple elements to the set
# remove(): Removes an element from the set; raises KeyError if not found
# discard(): Removes an element from the set; does nothing if not found
# pop(): Removes and returns an arbitrary element from the set
# clear(): Removes all elements from the set
# copy(): Returns a shallow copy of the set
# union(): Returns a new set containing all elements from both sets
# intersection(): Returns a new set containing common elements
# difference(): Returns a new set containing elements in the first set but not in the second set
# symmetric_difference(): Returns a new set containing elements in either set, but not both
# isdisjoint(): Returns True if two sets have a null intersection
# issubset(): Returns True if another set contains this set
# issuperset(): Returns True if this set contains another set

# Example of using update
my_set = {1,2}
my_set.update([3, 4, 5], {6,7})
my_set

{1, 2, 3, 4, 5}
1
2
3
4
5
3 is in the set
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6}
{2, 4, 5, 6}
set()
Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference (set1 - set2): {1, 2}
Symmetric Difference: {1, 2, 4, 5}
2 is present in set1

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
fruits={"apple","banana","cherry","1","2","3","4","5"}
fruits.add("orange")
print(fruits)

{'2', 'orange', 'apple', '5', 'cherry', '4', '3', '1', 'banana'}

In [ ]:
#update in set
fruits={"apple","banana","cherry","1","2","3","4","5"}
fruits.update(["orange","kiwi"])
print(fruits)

{'2', 'orange', 'apple', '5', 'cherry', '4', 'kiwi', '3', '1', 'banana'}

In [ ]:
#pop
qns= {"who", "is", "president", "of", "india"}
qns.pop()
print(qns)

{'of', 'who', 'is', 'president'}

In [ ]:
set1={1,2,3,4,5}
set2={6,7,8,9,0}
set3={"i","is","hero"}
set4={1,2,3}
finalsetUnion=set1 | set2 | set3 | set4
finalsetIntersection=set1 & set4
print(finalsetUnion)
print(finalsetIntersection)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'is', 'i', 'hero'}
{1, 2, 3}

In [ ]:
lst1 =[(1,2,-21),(2,3,1),(3,4,0),(1,0,0),(1,11,3)]
#out put 3,4=7
for x in lst1:
  y= sum(x)
  print(y)
  greatestsum=max(lst1)
print(greatestsum)

TypeError: 'tuple' object is not callable

In [ ]:
ben=[(1,2,21),(2,3,1),(3,4,0),(1,0,0),(1,11,3)]
ben.sort()
print(ben)
for x in ben:
  print(sum(x))

[(1, 0, 0), (1, 2, 21), (1, 11, 3), (2, 3, 1), (3, 4, 0)]

TypeError: 'tuple' object is not callable

In [ ]:
ben=[(1,2,21),(2,3,1),(3,4,0),(1,0,0),(1,11,3)]
ben.sort()
print(ben)
# The issue is that the built-in 'sum' function has been overwritten by a tuple
# Solution: Delete the 'sum' variable to restore the built-in function
for x in ben:
  print(sum(x))
  # i need to find maximum amonng

[(1, 0, 0), (1, 2, 21), (1, 11, 3), (2, 3, 1), (3, 4, 0)]
1
24
15
6
7
(3, 4, 0)

In [ ]:

ben=[(1,2,21),(2,3,1),(3,4,0),(1,0,0),(1,11,3)]
max_sum = 0
max_tuple = ()

for tup in ben:
    current_sum = sum(tup)
    if current_sum > max_sum:
        max_sum = current_sum
        max_tuple = tup

print(f"{max_tuple}={max_sum}")

(1, 2, 21)=24

In [ ]:

ben=[(1,2,3,),(4,5,6),(7,8,9)]
max_sum=0
max_tup=()

for x in ben:
  currentsum=sum(x)
  if currentsum > max_sum:
    max_sum= currentsum
    max_tup= x
    print(f"{max_tup}={max_sum}")

In [ ]:
#create password generator using python
import random
def generate_password(length=8, include_uppercase=True, include_digits=True, include_lowercase=True):
  characters=""
  if include_uppercase:
    characters+="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  if include_digits:
    characters+="0123456789"
  if include_lowercase:
    characters+="abcdefghijklmnopqrstuvwxyz"
    password=''.join(random.choice(characters) for _ in range(length))
  return password
password=generate_password()
password

'vsx4M8Ea'

In [ ]:
#day 4
# converting list into set
lst=[1,2,3,4,5,6,6,4,3,2]
set1=set(lst)
print(lst)
list1=list(set1)
print(list1)

[1, 2, 3, 4, 5, 6, 6, 4, 3, 2]
[1, 2, 3, 4, 5, 6]

In [ ]:
# Dictionary examples

# Creating a dictionary
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict)

# Accessing values
print(my_dict["name"])  # Accessing the value associated with the key "name"
print(my_dict.get("age")) # Accessing the value using the get() method (returns None if key not found)

# Adding or modifying key-value pairs
my_dict["occupation"] = "Software Engineer"  # Adding a new key-value pair
print(my_dict)

my_dict["age"] = 31  # Modifying the value associated with an existing key
print(my_dict)


# Removing key-value pairs
del my_dict["city"]  # Deleting a key-value pair
print(my_dict)

my_dict.pop("occupation") # Removes and returns the value associated with the key
print(my_dict)


# Iterating through a dictionary
for key in my_dict:
    print(key, my_dict[key])


# Iterating through keys and values
for key, value in my_dict.items():
    print(key, value)


# Checking if a key exists
if "name" in my_dict:
    print("The key 'name' exists in the dictionary")


# Dictionary methods

# keys(): Returns a view object containing the keys of the dictionary
# values(): Returns a view object containing the values of the dictionary
# items(): Returns a view object containing key-value pairs as tuples
# get(): Returns the value for a specified key; returns None if key not found (or a specified default value)
# update(): Updates the dictionary with elements from another dictionary or iterable
# pop(): Removes and returns the value associated with a specified key
# popitem(): Removes and returns an arbitrary key-value pair
# clear(): Removes all items from the dictionary
# copy(): Returns a shallow copy of the dictionary

# Example of using update
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)


# Example of nested dictionaries
nested_dict = {
    "person1": {"name": "Bob", "age": 25},
    "person2": {"name": "Charlie", "age": 28},
}

print(nested_dict["person1"]["name"]) # Accessing a value in a nested dictionary

#Dictionary comprehension
squares={x: x*x for x in range(6)}
squares

#More dictionary methods and examples can be added here.

{'name': 'Alice', 'age': 30, 'city': 'New York'}
Alice
30
{'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Software Engineer'}
{'name': 'Alice', 'age': 31, 'city': 'New York', 'occupation': 'Software Engineer'}
{'name': 'Alice', 'age': 31, 'occupation': 'Software Engineer'}
{'name': 'Alice', 'age': 31}
name Alice
age 31
name Alice
age 31
The key 'name' exists in the dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Bob

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
my_dict = {"name": "Alice", "age": 30, "name": "New York"}
print(my_dict["name"])
print(my_dict.get("address","address not found"))
my_dict["occupation"] = "Software Engineer"
my_dict["name"]=31
print(my_dict)

New York
address not found
{'name': 31, 'age': 30, 'occupation': 'Software Engineer'}

In [ ]:
# looping through a dict
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
for key in my_dict:
  print(key, ':', my_dict[key])
  for x in my_dict:
    if my_dict[x]==30:
      print(x)

name : Alice
age
age : 30
age
city : New York
age

In [ ]:
# nested dictionary
student={
    'name': 'Spiderman',
    'age': 16,
    'marks': {
        'maths': 90,
        'science': 95,
        'history': 85
    }
}
print(student)
print(student['marks'])
print(student['name'])
print(student['age'])
student['marks']['English']=10
print(student)
for k,v in student.items():
  if type(v)==dict:
    print(f"key:{k},values:{v}")

{'name': 'Spiderman', 'age': 16, 'marks': {'maths': 90, 'science': 95, 'history': 85}}
{'maths': 90, 'science': 95, 'history': 85}
Spiderman
16
{'name': 'Spiderman', 'age': 16, 'marks': {'maths': 90, 'science': 95, 'history': 85, 'English': 10}}
key:marks,values:{'maths': 90, 'science': 95, 'history': 85, 'English': 10}

In [ ]:
#day 5

In [ ]:
# prompt: basic codes used in function in python

def analyze_code(code_lines):
    """
    Analyzes Python code lines and performs basic operations.

    Args:
        code_lines: A list of strings, where each string represents a line of code.
    """

    # Example operations: (you can expand this function to perform various other analyses)
    line_count = len(code_lines)
    print(f"Total lines of code: {line_count}")

    # Count occurrences of specific keywords or patterns
    import_count = sum(1 for line in code_lines if line.startswith("import"))
    print(f"Number of import statements: {import_count}")

    print_statements = [line for line in code_lines if "print(" in line]
    print(f"Number of print statements: {len(print_statements)}")

    # Find lines with comments
    comment_lines = [line for line in code_lines if "#" in line]
    print(f"Number of lines with comments: {len(comment_lines)}")

# Example Usage (assuming the code is in 'code_file.txt'):
try:
  with open('filename.txt', 'r') as file:
    code_lines = file.readlines()
    analyze_code(code_lines)
except FileNotFoundError:
  print("File not found.")

File not found.

In [ ]:
#impleting function

def sub(x,y):
  result=x-y
  print("difference is",result)
  return x-y
sub(2,3)

difference is -1

-1

In [ ]:
def addition(x):
  print("the value of x is",x)
  sum_value=sum(x)
  max_value=max(x)
  min_value=min(x)
  return sum_value,max_value,min_value


lst=[1,2,3,4,5,7,8]
result= addition(lst)
print(result)

the value of x is [1, 2, 3, 4, 5, 7, 8]
(30, 8, 1)

In [ ]:
def add1(x,y=99):
 result=x+y
 return result
result=add1(10)
print(result)

109

In [ ]:
def sub1(x,y=99):
 result=x-y
 return result
result=sub1(10)
print(result)

-89

In [ ]:
1#create calculator

x=int(input("enter first number"))
y=int(input("enter second number"))
print("select operation")
print("1.add")
print("2.sub")
print("3.mul")
print("4.div")
option= int(input("enter option"))
def add(x,y):
  return x+y
def sub(x,y):
  return x-y
def mul(x,y):
  return x*y
def div(x,y):
  return x/y
if option==1:
  result=add(x,y)
  print(result)
elif option==2:
  result=sub(x,y)
  print(result)
elif option==3:
  result=mul(x,y)
  print(result)
elif option==4:
  result=div(x,y)
  print(result)
else:
  print("invalid option")

enter first number5
enter second number7
select operation
1.add
2.sub
3.mul
4.div
enter option1

NameError: name 'add' is not defined

In [3]:
# crate a database
student={
    1: {'name': 'Spiderman',
    'age': 16,
    'marks': {
        'maths': 90,
        'science': 95,
        'history': 85
    }},

          2 : { 'name': 'Tony stark',
    'age': 22,
    'marks': {
        'maths': 99,
        'science': 95,
        'history': 98
    }},
       3 : { 'name': 'Captain America',
    'age': 80,
    'marks': {
        'maths': 97,
        'science': 91,
        'history': 92
    }}

}
stud_number= int(input("enter student number"))
if stud_number ==1:
  print(student[1])
elif stud_number ==2:
  print(student[2])
elif stud_number ==3:
  print(student[3])
else:
  print("invalid student number")

enter student number1
{'name': 'Spiderman', 'age': 16, 'marks': {'maths': 90, 'science': 95, 'history': 85}}

In [29]:
university_data = {
    "Computer Science": {
        "CS101": {
            "professor": "Dr. Smith",
            "students": [
                {"name": "Alice", "grade": 85, "attendance": 90},
                {"name": "Bob", "grade": 78, "attendance": 75},
                {"name": "Charlie", "grade": 92, "attendance": 88},
            ],
        },
        "CS102": {
            "professor": "Dr. Johnson",
            "students": [
                {"name": "David", "grade": 89, "attendance": 95},
                {"name": "Eve", "grade": 74, "attendance": 80},
            ],
        },
    },
    "Mathematics": {
        "MATH201": {
            "professor": "Dr. Taylor",
            "students": [
                {"name": "Frank", "grade": 93, "attendance": 85},
                {"name": "Grace", "grade": 88, "attendance": 92},
            ],
        },
        "MATH202": {
            "professor": "Dr. White",
            "students": [
                {"name": "Hannah", "grade": 79, "attendance": 70},
                {"name": "Ian", "grade": 95, "attendance": 98},
            ],
        },
    },
}
for sub in university_data:
  for topic in sub:
    for grade in topic:
      for b in grade:
        print(b)

C
o
m
p
u
t
e
r

S
c
i
e
n
c
e
M
a
t
h
e
m
a
t
i
c
s

In [4]:
#---------------------------------day 10

In [22]:
class negative_error(Exception):
 def __init__(self, message):
   super().__init__(message)

class zero_error(Exception):
 def __init__(self, message):
   super().__init__(message)

try:
  x=-1
  if x<0:
    raise negative_error("sorry. no numbers below zero")
  if x==0:
    raise zero_error("sorry. no zero")


except negative_error as e:
  print(e)
  print("x value is neagative")
  x=0
except zero_error as e:
  print(e)
  print("x value is zero")
  x=1
print(x)

sorry. no numbers below zero
x value is neagative
0

In [28]:
class negative_error(Exception):
 def __init__(self, message):
   super().__init__(message)

class high_error(Exception):
 def __init__(self, message):
   super().__init__(message)

try:
  x=int(input("enter your age"))
  if x<0:
    raise negative_error("sorry. no age can be  below zero")
  if x>100:
    raise high_error("sorry, but it can be exception")


except negative_error as e:
  print(e)
  print("x can't be neagative")
except high_error as e:
  print(e)
  print("normally,x can't be greater than 100")
print(x)

enter your age01
1

In [53]:
# prompt: #creating a txt file

!touch filename.txt
file = open("filename.txt", "w")
file.write("Hello, World! This is yaat contecnt have some respect you are tharsg is a aiowl ohajgh bz,leihoadf")
file.close()
file = open("filename.txt", "r")
content = file.read()
print(content)
file.close()
list1=content.split()
print(list1)
print(list1[1])

Hello, World! This is yaat contecnt have some respect you are tharsg is a aiowl ohajgh bz,leihoadf
['Hello,', 'World!', 'This', 'is', 'yaat', 'contecnt', 'have', 'some', 'respect', 'you', 'are', 'tharsg', 'is', 'a', 'aiowl', 'ohajgh', 'bz,leihoadf']
World!

In [4]:
!touch file.csv
import csv
with open('file.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Name', 'Age', 'City'])
    writer.writerow(['Alice', 25, 'New York'])

with open('file.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        Name=row[1]
        print(row[1])

Age
25

In [17]:
file_path='example.txt'
with open(file_path,'w') as file:
  content = file.write("he is super m jhweflakwdgfsnlzhi is super man \n")
with open(file_path,'r') as file:
  content=file.read()
  print(content)
with open(file_path,'x') as file:
  new_content=file.write("  Here is new line sir")
with open(file_path,'r') as file:
  new_content=file.read()
  print(new_content)

he is super m jhweflakwdgfsnlzhi is super man

FileExistsError: [Errno 17] File exists: 'example.txt'

In [35]:
name=str(input("enter Name"))
age=int(input("enter age"))
city=str(input("enter city"))
file_path='example.csv'
with open(file_path,'w') as file:
  file.write(f"{name},{age},{city}\n")
  # writer=file_path.write("name\n
with open(file_path,'r') as file:
  content=file.read()
  print(content)
# with open(file_path,'a',newline='') as file:
#   writer=csv.writer(file)
  # writer.writerow([name,age,city])

enter Name234
enter age34
enter city234
234,34,234

In [30]:
21231234
`123

SyntaxError: invalid syntax (<ipython-input-30-61fa7849b6a2>, line 2)